.textarea {
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 600px;
    height: 500px;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 20px;
    border: solid 2px #ddd;
    margin: 18%;
}
.add-invitation-form {
    text-align: right;
    color: firebrick;
}
.invitation2{
    text-align: end;
    text-size-adjust:calc() 10px; ;
}