html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}



.container {
  padding: -7px;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}


.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  color: #444;
}

.btn_asLink:hover {
  background-color: black;
  border-color: #008183;
  color: white;
}


.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}



.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.library {
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1500vh;
}



.userpage {
  background-image: url("https://images.unsplash.com/photo-1533738630286-f1f4a61705f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: repeat;
  background-size: 100%;
  height: 120vh;
  background-attachment: fixed;
  

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
 
}

.h3 {
  color: #080202;
  font-size: 18px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
}

.h234 {
  color: #080202;
  font-size: 20px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  font-family: fantasy;
}

.ul {
  color: #080202;
  font-size: 25px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
}

.divbook {
  font-size: 1rem;
  width: 40%;
  margin: auto;
  font-family: cormorant infant;

}

p.para1:first-letter {
  font-size: 100px;
  display: block;
  float: left;
  line-height: 0.5;
  margin: 15px 15px 10px 0;
}

.cover {
  background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
  box-shadow: 0 0 5px -1px rgb(22, 20, 20), inset -1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: 2%;
  border-radius: 7px;

  text-align: justify;
  padding: 10%;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
  background-image: url("https://images.unsplash.com/photo-1520970014086-2208d157c9e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: repeat;
  background-size: 100%;
  height: 120vh;
  background-attachment: fixed;
}

.author {
  text-align: -webkit-center;
  text-overflow: inherit;
  font-family: fantasy;
}

.invitation {
  width: 70%;
  font-size: 1rem;
  text-transform: lowercase;

}

.newInvitation {
  text-align: center;
  font-size: 45px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;

}

.listnew {
  display: flex;
  margin-top: 7em;
  background-color: bisque;
  width: 55%;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
}

.invitationpage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.cover {
  background-color: #efefef;
}
.pinvitation{
  color: #080202;
  font-size: 20px;
  font-family: 'georgia';
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  font-family: fantasy;
}
.isnotlock{
  margin: 39px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}



.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  color: rgb(19, 11, 11);
  border: none;
 
  display: block;
  
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  }
  .newii{
    display:unset;
height: 40px;
width: 400px;
  }