.table4 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    margin:7%
    

  }
  
  td, th {
    border: 1px solid #87a218;
    text-align: left;
    padding: 8px;
  }
  
  .tr {
    background-color: #d17f7f;
  }
.table3{
  
    text-align: center;
}
.tbody{
    text-align: center;
    background-color: #b5c189;
}
.h2{
    color:rgb(217, 213, 149);
    font-size: 30px; 
    
}
