table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    margin:7%
    

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #d17f7f;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.table2{
  
    text-align: center;
}
tbody{
    text-align: center;
    background-color: rgb(67, 113, 99);
}
.h22 {
  color:aliceblue;
}
.h23{
  color:aliceblue;
}