table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    margin:7%
    

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #d17f7f;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.table2{
  
    text-align: center;
}
tbody{
    text-align: center;
    background-color: rgb(67, 113, 99);
}
.h22 {
  color:rgb(0, 0, 0);
  font-family: fantasy;
  font-size: 45px;
}
.h23{
  color:rgb(0, 0, 0);
  font-family: fantasy;
  font-size: 45px;
  
}
.button {
  background-color: rgb(220, 164, 81);
  color: #fff;
border: 5px solid rgb(103, 98, 98);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(97, 93, 93);
text-shadow: none;
}

.delete {
  background: #85352c;
color: #fff;
border: 5px solid rgb(95, 90, 90);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(95, 86, 86);
text-shadow: none;
}
